# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# upload files
uploads

#utils gdrive
utils/
drive.js

#config gdrive and serviceAccountKey
config/
serviceAccountKey.json